{% extends "gtec/base.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container-fluid">
		{% if user.is_authenticated %}
			<p class="logged-in-p">
				Olá {{ user.username }} seja bem vindo, o que deseja fazer hoje? 
			</p>
			<div class="container-fluid">
		        <a class="btn btn-primary" href="{% url 'gtec:cadastra_vaga' %}" role="button">Adicionar Vagas</a>
		        <a class="btn btn-primary" href="{% url 'gtec:lista_vaga' %}" role="button">Ver Vagas</a>
		        <a class="btn btn-primary" href="{% url 'gtec:lista_cliente' %}" role="button">Ver Clientes</a>
		        <a class="btn btn-primary" href="{% url 'gtec:cria_reserva' %}" role="button">Reservar Vagas</a>
		    </div>
		{% endif %}
</div>
<br/>
 <div class="container-fluid">
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Bem vindo ao SAVAGE!</h1>
	    <p class="lead">Sistema Autônomo de Vagas em Garagens e Estacionamentos</p>
	    <a class="btn btn-primary" href="{% url 'gtec:cria_cliente' %}" role="button">Cadastre-se aqui</a>
	    ou
	    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Faça login</a>
	  </div>
	</div>
</div>

<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vagas Totais</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">452</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Investimentos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">R$21,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Retorno</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Empresas Parceiras</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}